[submodule "multiflow-backend"]
	path = multiflow-backend
	url = https://github.com/hatsune-miku/multiflow-backend
	branch = main
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "FluentUI"]
	path = FluentUI
	url = https://github.com/zhuzichu520/FluentUI.git
